.App{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
}

.Menu{
    margin: auto;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.btn{
    
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;  
    transition-duration: 0.6s;
   
}

.active,.btn:hover{
    background-color: #008CBA;
    color: white;
   
    
}

.Next-Finish-btn{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;  
    color: aliceblue;
    background-color: #555555; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}


.option{
    padding: 5px;
    
}